div#bildIn {
	max-width:1000px;
	height:500px;
	margin:auto;
	margin-top:50px;
	border:solid 3px black;
}

div.hoverImage {
	display:table;
	float:left;
	width:202px;
	height:202px;
	margin:0px;
	padding:0px;
}

div.howerImage > div {
	border:solid 1px black;
	display:table-cell;
	vertical-align:middle;
}

div.hoverImage > div > img {
	display: block;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	margin:auto;
	max-width:200px;
	max-height:200px;
}

div.hoverImage > div > img:hover {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
}



